* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(251, 250, 245);
    font-family: 'Montserrat', sans-serif;
}

:root{
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --tran-06: all 0.6s ease;
    --tran-10: all 1s ease;
}

li, button, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

nav {
    background-color: #23252A;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 5%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: var(--tran-03);
}

.nav-links li a:hover {
    color: rgb(47, 146, 98,1);
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(47, 146, 98,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: var(--tran-03);
}

button:hover {
    background-color: rgba(47, 146, 98, 0.8);
}

/*--------------------| token-info |-------------------- */

.ti-container {
    width: 350px;
    height: 375px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: var(--tran-10);
    -webkit-box-shadow: 0px 0px 20px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 20px -3px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 20px -3px rgba(66, 68, 90, 1);
}

.ti-upper-container img {
    transform:scale(140%);
    transition: var(--tran-10);
}

.ti-upper-container {
    background-color: rgb(47, 146, 98,1);
    width: auto;
    height: 200px;
    border-radius: 20px;
    transition: var(--tran-06);
}


.ti-image-container {
    padding: 50px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ti-lower-container {
    color: #23252A;
    text-align: center;
    padding: 15px;
}

.ti-container span {
    transform: translate(50px, 100px);
    
}

/*--------------------| Zgłoszenia tabela |-------------------- */

.zgloszenia-main-content {
    padding: 10px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.table-my-reports {
    border-collapse: collapse;
    overflow-y: auto;
    overflow: hidden;
    width: 100%;
    max-height: 500px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.table-my-reports thead tr{
    background-color: rgba(47, 146, 98, 0.8);
    color: #fff;
    text-align: left;
    font-weight: bold; 
}

.table-my-reports tr:hover{
    cursor:pointer}

.table-my-reports th{
    text-align: center;
}

.table-my-reports th,
.table-my-reports td {
    padding: 12px 15px;
}

.table-my-reports a {
    color: black;
    font-weight: normal;
}

.table-my-reports tbody tr{
    border-bottom: 1px solid #ddd;
}

.table-my-reports tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.table-my-reports tbody tr:last-of-type {
    border-bottom: 2px solid rgba(47, 146, 98, 0.8);
}

.table-my-reports tr:hover > td,
.table-my-reports tr:hover > td a{
    cursor: pointer;
    color: rgba(47, 146, 98, 0.8);
    font-weight: 500;
}


.table-my-reports td:nth-child(2) {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.table-my-reports td:nth-child(3) {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.table-my-reports td:nth-child(4){
    padding: 12px 10px;
    font-size: 10px;
    min-width: 120px;
}

.table-my-reports td:nth-child(5){
    padding: 12px 15px;
    font-size: 10px;
    min-width: 120px;
}

.priority {
    text-align: center;
    padding: .4rem 0;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
 }

.natychmiastowy {
    background-color: rgb(255, 150, 150);
    color: rgb(150, 0, 0);
}

.pilny {
    background-color: rgb(255, 204, 153);
    color: rgb(153, 76, 0);
 }

.wysoki {
    background-color: rgb(255, 255, 153);
    color: rgb(153, 153, 0);
 }

.normalny {
    background-color: #86e49d;
    color: #006b21;
 }

.niski {
    background-color: rgb(220, 220, 220);
    color: rgb(100, 100, 100);
 }

.status {
    text-align: center;
    padding: .4rem 0;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.zamkniety {
    background-color: rgb(200, 200, 200);
    color: rgb(100, 100, 100);
 }

.rozwiazywany {
    background-color: rgb(173, 216, 230);
    color: rgb(25, 77, 109);
 }

.oczekujacy {
    background-color: rgb(255, 204, 153);
    color: rgb(153, 76, 0);
 }

/*--------------------| Reports |-------------------- */

.reports-main-container {
    width: 1100px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.reports-main-center {
    margin-left: auto;
    margin-right: auto;
}

.reports-filter-container-main {
    width: max-content;
    height: 60px;
    border-radius: 10px;
    margin-top: 10px;
    margin: 10px;
    background-color: rgb(251, 250, 245);
    display: flex;
    align-items: center;
    border: 1px solid rgba(47, 146, 98, 0.8);
}

.reports-filter-label {
    padding: 0px 5px;
    left: 10px;
    top: -4px;
    z-index: 100;
    background-color: rgb(251, 250, 245);
    position: relative;
}

.reports-filter-container-single {
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
    height: auto;
    display: flex;
    align-items: center;
}

.reports-single-filter {
    width: max-content;
    padding: 5px 15px;
    margin-right: 10px;
    border-radius: 15px;
    display: flex;
    height: auto;
    background-color: rgba(47, 146, 98, 0.8);
    text-align: center;
}

.reports-single-filter-select {
    border: none;
    outline: none;
    color: #f3f3f3;
    background-color: transparent;
}

.reports-single-filter-select:hover{
    cursor: pointer;
}

.reports-single-filter-select option {
    background-color: #f3f3f3;
    color: black;
    border-bottom: 1px solid black;
}

.reports-single-filter-button {
    font-size: 12px;
    width: 100px;
    height: 25px;
    padding: 5px 5px;
    font-weight: 700;
    background-color: rgb(64, 64, 64);
    margin-left: auto;
}

.reports-single-filter-button:hover {
    background-color: rgb(84, 84, 84);
}

.reports-search {
    height: 60px;
    width: 400px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: rgb(251, 250, 245);
    display: flex;
    border: 2px solid black;
    background-color: blue;
}

.reports-search-label {
    position: relative;
    left: 10px;
    top: -14px;
    z-index: 100;
    padding: 0px 5px;
    background-color: rgb(251, 250, 245);
}

.reports-main-center {
    padding: 8px;
}

.reports-search-box input{
    border: 1px black solid;
    height: 25px;
    weight: 185px;
    padding: 10px;

    margin-bottom: 10px;
    border-radius: 10px;
    outline: none;
}

.report-function-buttons-container {
    float: right;
    weight: 120px;
}

.reports-add-button {
    height: 25px;
    width: 120px;
    margin-bottom: 5px;
    padding: 4px;
    font-size: 14px;
    text-align: center;
}

.reports-showMine-button {
    height: 25px;
    width: 120px;
    padding: 4px;
    font-size: 14px;
    background-color: rgb(64, 64, 64);
    text-align: center;
}

.reports-showMine-button:hover {
    background-color: rgb(84, 84, 84);
}

/*--------------------| report-form |-------------------- */

.report-form-main-container {
    width: 800px;
    height: 600px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}


.report-form-left-side {
    width: 400px;
    height: 600px;
    padding: 20px;
    font-size: 20px;
    border: 1px solid black;
    color: black;
    background-color: rgb(47, 146, 98,1);
    text-align: left;
    border-radius: 20px 0 0 20px;
    
}

.report-form-right-side {
    width: 400px;
    height: 600px;
    padding: 20px;
    border: 1px solid black;
    color: #23252A;
    background-color: white;
    border-radius: 0 20px 20px 0;
}

.report-form-left-side label{
    font-weight: 500;
    font-size: 20px;
}

.report-form-left-title {
    padding: 0 5px;
    width: 360px;
    height: 600px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid black;
}

.report-form-left-side input, textarea{
    margin-top: 5px;
}

.report-form-left-textarea {
    width: 360px;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid black;
}

.drop-area {
    height: 100px;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.report-form-left-file-button {
    width: 360px;
    text-align: center;
}

.report-form-left-title-container{
    margin-bottom: 15px;
}

.report-form-left-body-container{
    margin-bottom: 15px;
}

.report-form-left-priority-container {
    margin-top: 10px;
    display: flex;
}

.report-form-left-priority-container select {
    margin-left: 10px;
}

.report-form-left-button-container {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
}
.report-form-right-li-department {
    color: black;
}

.report-form-left-side button {
    background-color: #23252A;
}

.report-form-left-side button:hover {
    background-color: #34363B;
}

.report-form-right-li-container li, ul{
    align-items: center;
    list-style-type: none;
}

.report-form-right-li-center {
    display: flex;
    padding: 0px 5px;
}

.report-form-right-li-users{
    color:#23252A;
}

.report-form-right-li-center span {
    margin-left: 5px;
}

.report-form-right-side ul li span {
    cursor: pointer;
}

.report-form-right-side ul li div {
    display: none;
}

.report-form-right-side ul li:hover div {
    display: block;
}

.report-form-right-zalaczniki {
    margin-top: 15px;
}

/*--------------------|  |-------------------- */