<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,200&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <form class="form-contact" th:action="@{/login}" method="post">
        <div>
            <div class="box-circle"> 
                <img class="icon-user-big" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/256/ffffff/external-user-interface-kiranshastry-solid-kiranshastry-1.png" alt="external-user-interface-kiranshastry-solid-kiranshastry-1"/>
            </div>
            <h2 class="title">Login</h2>
        </div>

        <div class="box-input">
            <img class="icon-user-small" src="https://img.icons8.com/ios-glyphs/120/ffffff/user--v1.png" alt="user--v1"/>
            <input type="text" class="input-form" name="username" id="username" placeholder="E-mail"/>
        </div>
        <div class="box-input">
            <img class="icon-padlock-small" src="https://img.icons8.com/material-outlined/72/ffffff/lock-2.png" alt="lock-2"/>
            <input type="password" class="input-form" name="password" id="password" placeholder="Password"/>
        </div>
        
        <div class="box-helper-elements">
            <label class="label-checkbox" for="remember-me"><input type="checkbox" id="remember-me" name="remember-me" class="input-checkbox"/>Remember me</label>
            <a class="link" href="#">Zapomniałeś hasło?</a>
        </div>
        <input class="btn-login" type="submit" value="Zaloguj"/>
        <a class="link" href="#">Nie masz konta? Zarejestruj się</a>
    </form>

</body>
</html>