<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="home :: link"></div>
</head>
<body>
<div th:replace="home :: nav"></div>
<div>
    <form th:object="${newReportForm}" th:action="@{addReport}" method="post">
        <label>Tytuł</label><input type="text" th:field="*{header}" />
        <label>Ciało</label><input type="text" th:field="*{body}"/>
        <label>Priorytet</label>
        <select id="priority" name="priority" th:field="*{priority}">
            <option th:each="priority : ${T(pl.chmielewski.CfsaSuite.LoginModule.entity.enums.Priority).values()}"
                    th:value="${priority}"
                    th:text="${priority}">
            </option>
        </select>
        <button type="submit" value="addNewReport">Wyślij</button>
    </form>
</div>
</body>
</html>