<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="home :: link"></div>
    <script src="/script.js"></script>
</head>
<body>

<div th:replace="home :: nav"></div>

<div class="zgloszenia-main-content">
        <table class="table-my-reports" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tytuł Zgłoszenia</th>
                    <th>Zgłaszający</th>
                    <th>Priorytet</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="report : ${ReportsListMadeByLoggedUser}"
                th:onclick="'window.open(\'' + @{/report/} + ${report.getId()} + '\', \'_blank\');'">
                <td><a th:href="@{/report/{id}(id=${report.getId()})}" target="_blank" th:text="'#' + ${report.getId()}"></a></td>
                <td th:text="${report.getHeader()}"></td>
                <td><p th:text="${report.getOwner()}"></p></td>
                <td><p class="priority" th:text="${report.getPriority()}"></p></td>
                <td><p class="status" th:text="${report.getStatus()}"></p></td>
            </tr>
        </table>
    </div>
</body>


</html>


